<div class="video-card">
  <div class="card-big">
    <div class="video">
    </div>
    <div class="right-side">
      <div class="description">Description:</div>
      <div class="title">Video Title</div>
      <div class="date">Date</div>
      <div class="statistics">
        <div class="dislike">
          <div class="viewed"></div>
          <span class="number">1000</span>
        </div>
        <div class="like">
          <div class="liked"></div>
          <span class="number">680</span>
        </div>
        <div class="viewed">
          <span class="number">320</span>
        </div>
        <div class="dislike">
          <div class="comments">
            <div class="group-9">
              <div class="vector"></div>
              <div class="vector-2"></div>
              <span class="number">250</span>
            </div>
          </div>
        </div>
      </div>
      <div class="back-button">
        <div class="rectangle-17"></div>
        <div class="vector-1"></div>
      </div>
    </div>
  </div>
  <div class="description-text">
  </div>
  <div class="rectangle-18"></div>
</div>
