<div class="video-cards"
     *ngIf="videos$ | async as videos; else loading">
  <div class="card"
       *ngFor="let video of videos
       | filterBy:searchText:criteria
        | sortBy:sortField">
    <app-search-item [video]="video">
    </app-search-item>
    <div class="rectangle-10"
         [appBorderColor]="video.publishedAt">
    </div>
  </div>
</div>

<ng-template #loading>
  Loading...
</ng-template>

<app-pagination
  [totalPages]="totalPages"
  [currentPage$]="currentPage$"
  (pageChange)="changePage($event)">
</app-pagination>
