<div class="background"></div>
<div class="title">{{ video.snippet.title }}</div>
<div class="thumbnails" *ngIf="video.snippet.thumbnails">
  <div class="image"
       [style.background-image]="'url(' + video.snippet.thumbnails.medium.url + ')'"></div>
</div>
<div *ngIf="video?.id">
  <button class="button button-text-details"
          [routerLink]="['main', video.id.videoId]">More...
  </button>
  <div (click)="toggleFavorite(video.id.videoId)">
    <img [src]="isFavorite$
  ? 'assets/svg/items/star-fill.svg'
  : 'assets/svg/items/star.svg'" alt="Favorite Icon">
  </div>
</div>

<div *ngIf="video?.statistics">
  <div class="statistics">
    <div class="group">
      <img src="assets/svg/items/viewed.svg" alt="Viewed">
      <div class="viewed">{{ video.statistics.viewCount }}</div>
    </div>
    <div class="group">
      <img src="assets/svg/items/liked.svg" alt="Like">
      <div class="liked">{{ video.statistics.likeCount }}</div>
    </div>
    <div class="group">
      <img src="assets/svg/items/dislike.svg" alt="Dislike">
      <div class="disliked">{{ video.statistics.dislikeCount }}</div>
    </div>
    <div class="group">
      <img src="assets/svg/items/comments.svg" alt="Comments">
      <div class="comments">{{ video.statistics.commentCount }}</div>
    </div>
  </div>
</div>
