$main-button-color: #2F80ED;
$hover-button-color: #0056b3;
$info-button-color: #F2C94C;
$primary-color: #27AE60;
$error-color: #EB5757;
$card-bg-color: #E5E5E5;
$white-bg-color: #FFFFFF;
$dark-grey-color: #4F4F4F;
$tags-bg-color: #F95;
$grey-color: #828282;
$light-grey-color: #F2F2F2;
$white-text-color: #FFFFFF;
$black-text-color: #000000;
$icon-color: #000000;

$text-font-size: 12px;
$text-line-height: 14px;
$text-font-weight: 400;
