<div class="menu-wrap">
  <input type="checkbox" class="toggler">
  <div class="hamburger">
    <div>
    </div>
  </div>
  <div class="menu">
    <div class="panel"></div>
    <ul>
      <li><a routerLink="/conversation">Conversation</a></li>
      <li><a (click)="logout()">Logout</a></li>
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/group">Group</a></li>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/signin">Login</a></li>
    </ul>
  </div>
</div>
