@import 'assets/css/variables';

.video-card {
  width: 1200px;
  height: 461px;
  left: 120px;
  top: 124px;
}

.card-big {
  width: 1165px;
  height: 461px;
  left: 35px;
  top: 0;
  filter: drop-shadow(5px 10px 10px rgba(47, 128, 237, 0.25));
}

.video {
  width: 729px;
  left: 35px;
  top: 0;
  filter: drop-shadow(5px 10px 20px rgba(51, 51, 51, 0.25));
  border-radius: 0 0 0 5px;
}

.thumbnail {
  width: 729px;
  padding-left: 20px;
  left: 35px;
  top: 150px;
  filter: drop-shadow(5px 10px 20px rgba(51, 51, 51, 0.25));
  border-radius: 0 0 0 5px;
}

.right-side {
  position: absolute;
  width: 1236px;
  height: 761px;
  left: 264px;
  top: 150px;
  background: $card-bg-color;
  box-shadow: 5px 5px 20px rgba(51, 51, 51, 0.25);
  border-radius: 0 5px 5px 0;
}

.description {
  width: 76px;
  height: 16px;
  left: 798px;
  top: 350px;
  position: absolute;
  font-style: normal;
  font-weight: $text-font-weight;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

}

.title {
  padding-left: 20px;
  width: 1248px;
  height: 66px;
  left: 798px;
  top: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

}

.date {
  width: 132px;
  height: 12px;
  left: 1032px;
  top: 48px;
  font-style: normal;
  font-weight: $text-font-weight;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: $grey-color;
}

.statistics {
  width: 202px;
  height: 13px;
  left: 881px;
  top: 419px;
}

.dislike {
  width: 46px;
  height: 13px;
  left: 881px;
  top: 419px;
}

.viewed {
  left: 73.42%;
  right: 24.92%;
  top: 90.89%;
  bottom: 6.29%;
}

.one-thousand {
  width: 23px;
  height: 12px;
  left: 904px;
  top: 420px;
  font-style: normal;
  font-weight: $text-font-weight;
  font-size: 10px;
  line-height: 12px;
}

.like {
  width: 35px;
  height: 13px;
  left: 944px;
  top: 419px;
}

.liked {
  left: 78.67%;
  right: 20.08%;
  top: 90.89%;
  bottom: 6.29%;
}

.six-eighty {
  width: 17px;
  height: 12px;
  left: 962px;
  top: 419px;
  font-style: normal;
  font-weight: $text-font-weight;
  font-size: 10px;
  line-height: 12px;
}

.three-twenty {
  width: 17px;
  height: 12px;
  left: 1013px;
  top: 420px;
  font-style: normal;
  font-weight: $text-font-weight;
  font-size: 10px;
  line-height: 12px;
}

.comments {
  width: 35px;
  height: 13px;
  left: 1048px;
  top: 419px;
}

.group-9 {
  width: 13px;
  height: 13px;
  left: 1048px;
  top: 419px;
}

.vector {
  left: 87.33%;
  right: 11.83%;
  top: 91.52%;
  bottom: 6.29%;
}


.two-fifty {
  width: 17px;
  height: 12px;
  left: 1066px;
  top: 420px;
  font-style: normal;
  font-weight: $text-font-weight;
  font-size: 10px;
  line-height: 12px;

}

.back-button {

  width: 32px;
  height: 32px;
  left: 3px;
  top: 0;
  filter: drop-shadow(-2px 2px 4px rgba(47, 128, 237, 0.25));
  border-radius: 5px 5px 0 0;
}

.rectangle-17 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $main-button-color;
  border-radius: 5px 0 0 5px;
}

.vector-1 {
  left: 34.38%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  border: 3px solid $light-grey-color;
}

.description-text {
  width: 365px;
  height: 280px;
  left: 798px;
  top: 115px;

  font-style: normal;
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  line-height: $text-line-height;
  color: $grey-color;
}

.rectangle-18 {
  width: 436px;
  height: 5px;
  left: 764px;
  top: 456px;
  background: $main-button-color;
  border-radius: 0 0 5px 0;
}
