.main-container {
  display: flex;
  height: 82vh;
  flex-direction: row;
}

.group-section,
.people-section {
  background: #000;
  color: #fff;
  flex: 1;
  width: 40%;
  margin: 5px;
  overflow: auto;
}

main {
  position: relative;
  width: 60vw;
  margin: 2em auto;
  padding: 3em 1em 1em;
  background: #fff;
  border-radius: .25em;
}

main:after {
  content: '';
  display: block;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  bottom: -0.5em;
  left: -0.5em;
  z-index: -1;
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.498039);
  border: 1px solid rgba(255, 255, 255, 0.298039);
  box-shadow: rgba(0, 0, 0, 0.498039) 0 0.25em 0.75em;
}

.header-right {
  left: 42vw;
}

.header-left {
  left: 12vw;
}


h2 {
  font: 400 25px/1.5 Roboto, Verdana, sans-serif;
  font-weight: 900;
  top: 1%;
  margin: 0;
  padding: 0;
  position: absolute;
}

.btn-message {
  padding: .5em;
  border: 1px solid #888;
  border-radius: 3px;
  cursor: pointer;
  background: #ddd;
  box-shadow: 0 0 3px #bbb;
  -webkit-transition: all 0.3s ease, background-color 0.3s ease;
  -moz-transition: all 0.3s ease, background-color 0.3s ease;
  -o-transition: all 0.3s ease, background-color 0.3s ease;
  -ms-transition: all 0.3s ease, background-color 0.3s ease;
  transition: all 0.3s ease, background-color 0.3s ease;
}

input {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1.2em;
}


li:last-child {
  border: none;
}

li:hover {
  font-size: 30px;
  background: #f6f6f6;
  color: black;
}
