@import 'assets/css/variables';

.dropdown-settings {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: $card-bg-color;
}

.header-group {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.date,
.sorting-by,
.count-of-views,
.filter-by-text {
  margin-left: 10px;
  font-style: normal;
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  line-height: $text-line-height;
  text-decoration-line: none;
  color: $main-button-color;
}

.date, .count-of-views {
  text-decoration-line: underline;
  background: $card-bg-color;
  cursor: pointer;
  border: none;
}

.filter-by-text{
  margin-left: 20px;
}

.sort-input-field {
  margin-left: 10px;
  width: 150px;
  height: 13px;
  background: $white-bg-color;
  border: none;
}

.sorting-by {
  color: $grey-color;
}
