<form [formGroup]="profileForm"
      class="profile-card"
      *ngIf="(profileData$ | async) as profileData;">
  <div class="img-area">
    <div class="inner-area">
      <img [src]="randomUserImage" class="card-image" alt="">
    </div>
  </div>
  <div class="name">{{ profileData.name.S }}</div>
  <div class="social-icons">
    <a href="#" class="fab"><img src="assets/email.svg" alt=""></a>
    <div class="about">{{ profileData.email.S }}</div>
  </div>
  <div class="about">{{ profileData.createdAt.S | date:'medium' }}</div>
  <div class="about">ID: {{ profileData.uid.S }}</div>

  <input class="profile-input"
         [readonly]="!isEditing"
         [style.opacity]="isEditing ? 1 : 0"
         formControlName="name"
         required>
  <div class="buttons">
    <button (click)="isEditing = true" *ngIf="!isEditing">Edit</button>
    <button (click)="saveChanges()" *ngIf="isEditing">Save</button>
    <button (click)="cancelEditing()" *ngIf="isEditing">Cancel</button>
  </div>
</form>

